.menuitems li {
    float: left;
    width: 33.33%;
    padding: 5px;
    padding-top: 150px;
}

.menuitems p {
    display: none;
}

.menuitems li:hover {
    padding-top: 148px;
    transition: 0.3s ease-in-out;
}

.menuitems li:hover p{
    display: block;
    transition: 0.3s ease-in-out;
}

.quantities {
    color: #CC5A29;
    border: none;
    outline: none;
}

.quantities option:hover {
    background: #CC5A29;
    color: #ffffff;
}

#summary {
    position: fixed;
    background: #fff;
    color: #272727;
    margin-top: 500px;
    margin-left: 620px;
    text-align: center;
    padding: 15px;
    border-radius: 25px;
}

#totalquantity {
    font-style: normal;
}

#checkout-btn {
    background: #CC5A29;
    color: #fff;
    text-decoration: none;
    border-radius: 25px;
    padding: 15px;
}

.qty {
    font-style: normal;
}